<component name="ArtifactManager">
  <artifact type="jar" name="springapi">
    <output-path>$PROJECT_DIR$/out/artifacts/springapi</output-path>
    <root id="archive" name="springapi.jar">
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/META-INF/MANIFEST.MF" />
      </element>
    </root>
  </artifact>
</component>